<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DemoTest</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
       <div class="login-logo">
        <!-- <a href="/index2.html"><b>Admin</b>LTE</a> -->
       </div>
      <!-- /.login-logo -->
       <div class="login-box-body">
          <%= form_for :user,url: user_path, method: :patch,:class=> "form-control",html: {id: "signin-idenity"} do |f| %>
          <div class="form-group">
              <%= f.text_field :name, class: "form-control", required: true, placeholder: "Name"%>
          </div>
                    <div class="form-group">
                        <%= f.email_field :email, class: "form-control", required: true, placeholder: "Email Address"%>            
                    </div>
              <div class="form-group">
             <%= f.file_field :image, class: "form-control" %>
          </div>

                    <div class="form-group">
              <%= f.text_field :mobile, class: "form-control", required: true, placeholder: "Mobile Number"%>             
          </div>
                    <div class="form-group">
            <%= f.text_field :dob, class: "form-control", required: true, placeholder: "Date of Birth", :id=>'userdatetimepicker1', value: (f.object.dob.to_date.strftime("%d/%m/%Y") rescue "")%>
          </div>
          <div class="form-group">
            <%= f.text_field :address, class: "form-control", placeholder: "Address", required: true%>
          </div>
         

          <button class="btn btn-primary btn-block login-btn" type="submit">Submit</button>
        <%end%>
        <a href="/users/new" class="text-center">Already have account ? Login</a>
        </div>
      <!-- /.login-box-body -->
    </div>
  <!-- /.login-box -->
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    $('#userdatetimepicker1').datetimepicker({
      format: 'DD/MM/YYYY',
      useCurrent: false,
      maxDate: new Date()
    });
    window.onload = function() {
      var myInput = document.getElementById('userdatetimepicker1');
      myInput.onpaste = function(e) {
        e.preventDefault();
      }
    }
  });
</script>